<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="detail.css" />
    <link rel="stylesheet" href="../detail.css" />
    <title>전산관리페이지</title>
</head>

<body>
    <div>
        <h1 class="title">CAN 동아리 전산관리시스템</h1>
    </div>
    <div class="fullbox">
        <div class="sidebar">
            <div class="info">
                <p class="logininfo">로그인 정보</p>
                <p class="infodetail">접속날짜 : <%=today %></p>
                <p class="infodetail">현재접속 : <%=userip %> </p>
                <p class="infodetail">접속유저 : <%=loginId %></p>
            </div>
            <div>
                <% if(check == 0) { %>
                <button class="menubutton" onclick="location.href='/moveDetail/selectUser'">부원 정보 조회</button>
                <button class="menubutton" onclick="location.href='/moveDetail'">부원 명단 관리</button>
                <button class="menubutton" onclick="location.href='/moveDetail'">시스템 관리자</button>
                <% } else if(check == 1) { %>
                <button class="menubuttonC" onclick="location.href='/moveDetail/selectUser'">부원 정보 조회</button>
                <button class="menubutton" onclick="location.href='/moveDetail'">부원 명단 관리</button>
                <button class="menubutton" onclick="location.href='/moveDetail'">시스템 관리자</button>
                <% } %>
            </div>
        </div>
        
        <div class="content">
            <% if(check == 0) { %>
            <h1><%=loginId %> 님께서 접속하셨습니다. </h1>
            <h1>왼쪽 메뉴를 통해 작업영역으로 이동 가능합니다.</h1>
            <% }else if(check == 1) { %>
            <table>
                <thead>
                    <tr>
                        <th>학번</th>
                        <th>이름</th>
                        <th>가입날짜</th>
                        <th>전화번호</th>
                        <th>주소</th>
                        <th>단과대학</th>
                        <th>학과</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < User.length; i++) { %>
                    <tr>
                        <td><%=User[i].학번 %></td>
                        <td><%=User[i].이름 %></td>
                        <td><%=User[i].가입날짜 %></td>
                        <td><%=User[i].전화번호 %></td>
                        <td><%=User[i].주소 %></td>
                        <td><%=User[i].단과대분류_단과대이름 %></td>
                        <td><%=User[i].학과_학과이름 %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</body>

</html>